/* Core */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #6e6e6e;
}
a {
  color: #3396FF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #FF4BD8;
}

/* Header */

header {
  margin: 30px auto;
  max-width: 940px;
}
h1 {
  color: #3396FF;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 10px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
h1 span {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 5px;
  text-transform: none;
  color: #9e9e9e;
}
h2 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 940px;
  margin: 0 auto;
  color: #6e6e6e;
}
nav {
  margin: 20px 0;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
nav a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
}
nav a i {
  display: block;
  position: absolute;
  height: 2px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #FF4BD8;
  opacity: 0;
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -ms-transition: -ms-transform 0.2s ease-out, opacity 0s ease 0.2s;
  -o-transition: -o-transform 0.2s ease-out, opacity 0s ease 0.2s;
  transition: transform 0.2s ease-out, opacity 0s ease 0.2s;
}
nav a:hover i {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0s ease 0s;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0s ease 0s;
  -ms-transition: -ms-transform 0.2s ease-out, opacity 0s ease 0s;
  -o-transition: -o-transform 0.2s ease-out, opacity 0s ease 0s;
  transition: transform 0.2s ease-out, opacity 0s ease 0s;
}

/* Footer */

footer {
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
}
footer p {
  margin: 0;
}
footer .credits {
  font-size: 40px;
  font-weight: 300;
  margin: 80px 0;
}
footer .copyright {
  border-top: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Grid */

.grid {
  position: relative;
  max-width: 960px;
  margin: 20px auto;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  z-index: 1;
}
.item.muuri-positioning {
  z-index: 2;
}
.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 9999;
}
.item.muuri-dragging {
  cursor: move;
}
.item.muuri-hidden {
  z-index: 0;
}
.item.h2 {
  height: 220px;
  line-height: 220px;
}
.item.w2 {
  width: 220px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-stuff {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: rgba(255,255,255,0.9);
  border: 2px solid;
  color: #4A9FF9;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.item.muuri-dragging .item-stuff {
  color: #FF4BD8;
}