/* Core */

html {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  padding: 10px;
  height: 100%;
}

#demo {
  height: 100%;
}
.container {
  height: 100%;
}
/* Controls */

.controls {
  margin: 20px;
}

/* Grid */

.grids {
  position: relative;
  height: 100%;
}
.grid {
  position: absolute;
  top: 0;
  width: 49%;
  height: 200% !important;
  padding: 0 5px 5px 0;
  border: 5px solid #ff0000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}
.grid-1 {
  left: 0;
}
.grid-2 {
  right: 0;
}
.item {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 5px 0 0 5px;
  z-index: 1;
}
.item.muuri-item-releasing {
  z-index: 9998;
}
.item.muuri-item-dragging {
  z-index: 9999;
}
.item.muuri-item-dragging {
  cursor: move;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.h2 {
  height: 165px;
  line-height: 165px;
}
.item.w2 {
  width: 165px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-stuff {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging .item-stuff {
  background: #ff0000;
}

/* Utils */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}