* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #222;
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list {
  float: left;
  width: 33.333%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
}
.grid {
  position: relative;
  width: 100%;
}
.item {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 9999;
}
.item.muuri-dragging {
  cursor: move;
}
.item.muuri-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-stuff {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  background: #000;
  color: #fff;
}