* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #222;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
}
.controls {
  overflow: hidden;
  margin: 15px 50px;
}
.controls .group {
  float: left;
  margin-right: 10px;
}
.controls button {
  display: inline-block;
  float: left;
}
.grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 50px;
  border: 5px solid #ff0000;
  background: #222;
  opacity: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.grid.muuri {
  opacity: 1;
}
.item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  z-index: 1;
}
.item.muuri-dragging,
.item.muuri-releasing {
  z-index: 2;
}
.item.muuri-dragging {
  cursor: move;
}
.item.muuri-hidden {
  z-index: 0;
}
.item.h2 {
  height: 210px;
  line-height: 210px;
}
.item.w2 {
  width: 210px;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  background: #000;
  color: #fff;
}